@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&family=Playfair+Display:wght@800&display=swap');

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Playfair Display', serif; */

:root{
    --main: rgb(255, 194, 51);
    --dk: rgb(116, 121, 124);
    --dkdark: rgb(100, 104, 107);
    --lt: rgb(239, 245, 245);
}
 /**{ outline: 1px solid rgba(255,0,0,0.15); } */
body{
    background-color: var(--dark);
    font-family: 'Montserrat', sans-serif;
}
.left-sidebar{
    background-color: var(--lt);
}
.right-sidebar{
    background-color: #fff;
}

/* Brand */
.brand .brand-name{
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--dk);
}
.brand .search-bar{
    margin-top: 1.7rem;
}
.brand .brand-name span{
    font-weight: 900;
}


/* My-Nav */
.cart-icon{
    opacity: 0.6;
    transition: 0.25s;
}
.cart-icon:hover{
    opacity: 1;
}
.my-nav .btn:focus{
    box-shadow: none;
}
.my-nav .active{
    border: 1px solid var(--dk);
}
.opacity-100{
    opacity: 1;
}
.my-nav a{
    color: var(--dk);
}
.del-btn{
    background-color: var(--danger);
    color: white;
    border: none !important;
    outline: none !important;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
}
.del-btn:hover{
    background-color: var(--dark);
}

/* Cart Headings PlayFair */
.cart-heading{
    font-family: 'Playfair Display', serif;
}

/* Details left  */
#display-added, #display-updated{
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.tick-wrapper{
  height: 150px;
}
.tick-circle{
  padding: 20px 28px;
  border-radius: 100px;
  color: white;
  overflow: hidden;
}
.bg-grad-red{
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
}
.bg-grad-blue{
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}
.bakr{
  font-size: 30px;
  text-shadow: 0 1px 5px rgba(0,0,0,0.5);
}

.slide-up{
  animation: slideup 0.8s cubic-bezier(.34,.42,.65,1.26);
  animation-fill-mode: forwards;
}

@keyframes slideup{
  from{opacity:0.4;transform:translateY(30px)};
  to{opacity:1;transform:translateY(0px)};
}

.zoom-out{
  animation: zoomout 0.4s cubic-bezier(.34,.42,.68,1.45);
  animation-fill-mode: forwards;
}
@keyframes zoomout{
  from{transform:scale(0)};
  to{transform:scale(1)};
}


/* Products - right */
.product-card{
    cursor: pointer;
    transition: 0.25s;
}
.product-card:hover{
    border-color: var(--dk);
}







@media screen and (max-width: 500px) {
  body { background-color: var(--lt); }
  #potha { margin-bottom: 1.5rem; }
  #potha > div { margin-bottom: 10px; }
  .brand .input-group { margin-bottom: 1rem; }
}